/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0078D7; /* Color principal */
  color: white;
  padding: 10px 20px;
}

.logo img {
  width: 100px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s;
}

.nav a:hover {
  color: #FFD700; /* Color del hover  */
}

